@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin: 0%;
}

a, .text, .deck, .signup{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.hero, .footer{
    background-color: #1F2937;
}
button, .signup{
    background-color: #3882F6;
    border-radius: 5px;
    color:#E5E7EB;
    border-color: #E5E7EB;
    border-width: 1px;
    padding: 3px 20px;
}
.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.footer{
    color: #E5E7EB;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header.links{
    display: flex;
    
}