@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    gap: 50px;
    font-family: Roboto, sans-serif;
    margin: 0%;
    padding: 0px 200px ;
}

a, .text, .deck, .signup{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.hero, .footer{
    background-color: #1F2937;
    width: 100vw ;
    padding: 0 100 ;
}
button, .signup{
    background-color: #3882F6;
    border-radius: 5px;
    color:#E5E7EB;
    border-color: #E5E7EB;
    border-width: 1px;
    padding: 3px 20px;
}
.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.footer{
    display: flex;
    color: #E5E7EB;
    padding: 30px;
    justify-content: center;    

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.links{
    display: flex;
    gap: 20px;
    
}
.signup{
    display: flex;
    gap: 50px;
    padding: 20px 50px;
}
.deck{
    display: flex;
    justify-content:space-between;

}
.card1, .card2, .card3, .card4{
    width:200px;
}
.text{
    display: flex;
}
